.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-small {
  padding: var(--section-spacing-small) 0;
}

.section-big {
  padding: var(--section-spacing-big) 0;
}

.bg-dark {
  color: var(--clr-white);
  background: var(--clr-background-gradient)
}

.bg-gray {
  background-color: var(--clr-gray1);
}

button {
  --btn-ff: var(--ff-primary-bold);
  --btn-fz: var(--fz-primary);
  --btn-clr: var(--clr-text-primary);
  --btn-lh: 20.7px;
  --btn-bg: transparent;

  font-family: var(--btn-ff);
  font-size: var(--btn-fz);
  color: var(--btn-clr);
  line-height: var(--btn-lh);
  background-color: var(--btn-bg);
  min-width: 10ch;
  min-height: 46px;
  padding: 0.8125em 1.5em;
  border-radius: 3.125em;
  cursor: pointer;

  @include md {
    --btn-fz: 18px;
  }

  @include xlm {
    width: 100%;
    --btn-lh: 27px;
  }

  &.contact-btn {
    --btn-clr: var(--clr-white);
    --btn-bg: var(--clr-blue-primary);
  }

  &.read-more-light-btn {
    --btn-bg: var(--clr-gray1);
  }

  &.read-more-dark-btn {
    --btn-clr: var(--clr-white);
    --btn-bg: var(--clr-white05);
  }
}

.feature {
  &__container {
    display: flex;
    @include before-md {
      gap: 20px;
      flex-wrap: wrap;
    }

    @include md {
      flex-direction: column;
      gap: 24px;
    }

    & > div {
      @include before-md {
        flex: 0 1 calc(50% - 10px);
      }
    }

    &.large-gap {
      gap: 60px;

      @include xlm {
        gap: 16px;
      }

      & > div {
        @include before-md {
          flex: 0 1 calc(50% - 30px);
        }
      }
    }
  }

  &-item {
    background-color: var(--clr-gray1);
    border: 1px solid var(--clr-gray2);
    border-radius: 20px;
    padding: 32px;

    @include md {
      padding: 24px;
    }
  }

  &-item__inner {
    display: flex;
    gap: 20px;

    @include md {
      flex-direction: column;
      gap: 24px;
    }

    &.row {
      flex-direction: row;
    }
  }

  &-icon {
    flex-shrink: 0;
    align-self: flex-start;
    width: 60px;
    aspect-ratio: 1;
    position: relative;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    border-radius: 12px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-title {
    &.short {
      max-width: 220px;
    }
  }

  &-text {
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.65);
  @include lg {
    padding: 16px;
  }
  &__content-wrapper {
    margin: auto;
    transform: translateY(-50%);
    display: block;
    top: 50%;
    width: fit-content;
    @include lg {
      max-height: 90vh;
    }
  }
  &__content-wrapper,
  #caption {
    animation-name: modalZoom;
    animation-duration: 0.6s;
  }
  &__image {
    width: 100%;
    max-width: 990px;
  }
  &__close {
    position: absolute;
    top: 0;
    right: -64px;
    transition: 0.3s;
    width: 48px;
    height: 48px;
    cursor: pointer;
    @include lg {
      right: 0;
      top: -64px;
    }

    & svg {
      & rect {
        transition: $transition;
        stroke: var(--clr-gray2);
      }
      & path {
        transition: $transition;
        stroke: var(--clr-gray2);
      }
    }
    &:hover {
      & svg {
        & rect {
          stroke: var(--clr-white);
        }
        & path {
          stroke: var(--clr-white);
        }
      }
    }
  }
  &__text {
    & > div {
      width: 100% !important;
      max-width: 680px;
      margin: 0 auto !important;
      padding: 40px;
      @include sm {
        padding: 20px;
      }

      &:hover {
        border-color: pink;
      }
      & .reviews__slide-title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 24px;
        @include sm {
          margin-bottom: 16px;
          font-size: 16px;
          line-height: 23px;
        }
      }
      & .reviews__slide-text {
        font-size: 16px;
        line-height: 27px;
        -webkit-line-clamp: none;
        display: block;
        overflow: visible;
        @include sm {
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 23px;
        }

        & span {
          display: none;
        }
      }
      & .reviews__manWrapper {
        @include sm {
          margin-top: 0;
        }
      }
    }
  }
}

@keyframes modalZoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;

  border: 1px solid var(--clr-gray2);
  border-radius: 12px;
  background: var(--clr-gray1);

  @include xlm {
    margin-bottom: 16px;
  }

  &[open] > .accordion-title:before {
    transform: rotate(180deg);
  }

  &[open] .accordion-title ~ * {
    animation: sweep 0.5s ease-in-out;
  }
}

.accordion-title {
  --control-arrow-size: 40px;

  font-size: 18px;
  line-height: 27px;
  font-family: var(--ff-secondary-semiBold);

  display: block;
  padding: 16px calc(18px + var(--control-arrow-size)) 17px 16px;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    width: var(--control-arrow-size);
    height: var(--control-arrow-size);
    color: transparent;

    background: url("../img/arrow.svg") no-repeat 50% 50%;
    border-radius: 50%;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    transition: transform 0.5s;

    position: absolute;
    top: 10px;
    right: 16px;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }

  &::marker {
    display: none;
  }

  & ~ * {
    padding: 0 16px 16px;
  }

  &:focus {
    outline: 0;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
