button {
  --btn-ff: var(--ff-primary-bold);
  --btn-fz: var(--fz-primary);
  --btn-clr: var(--clr-text-primary);
  --btn-lh: 20.7px;
  --btn-bg: transparent;

  font-family: var(--btn-ff);
  font-size: var(--btn-fz);
  color: var(--btn-clr);
  line-height: var(--btn-lh);
  background-color: var(--btn-bg);
  min-width: 10ch;
  min-height: 46px;
  padding: 0.8125em 1.5em;
  border-radius: 3.125em;
  cursor: pointer;

  @include md {
    --btn-fz: 18px;
  }

  @include xlm {
    width: 100%;
    --btn-lh: 27px;
  }

  &.contact-btn {
    --btn-clr: var(--clr-white);
    --btn-bg: var(--clr-blue-primary);
  }

  &.read-more-light-btn {
    --btn-bg: var(--clr-gray1);
  }

  &.read-more-dark-btn {
    --btn-clr: var(--clr-white);
    --btn-bg: var(--clr-white05);
  }
}

.gray-section {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include before-xlm {
      align-items: center;
      text-align: center;
      margin-inline: auto;
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }

    @include xlm {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  &__subtitle {
    @include before-xlm {
      text-align: center;
    }
  }
}

.feature {
  &__container {
    display: grid;
    @include before-md {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    &.col-3 {
      grid-template-columns: repeat(3, 1fr);

      @include md {
        grid-template-columns: 1fr;
        gap: 24px;
      }
    }

    &.large-gap {
      gap: 60px;

      @include xlm {
        gap: 16px;
      }
    }
  }

  &-item {
    background-color: var(--clr-gray1);
    border: 1px solid var(--clr-gray2);
    border-radius: 20px;
    padding: 32px;

    @include md {
      padding: 24px;
    }
  }

  &-item__inner {
    display: flex;
    gap: 20px;

    @include md {
      flex-direction: column;
      gap: 24px;
    }

    &.row {
      flex-direction: row;
    }
  }

  &-icon {
    flex-shrink: 0;
    align-self: flex-start;
    width: 60px;
    aspect-ratio: 1;
    position: relative;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    border-radius: 12px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-title {
    &.short {
      max-width: 220px;
    }
  }

  &-text {
  }
}

.timeline-section {
  &__container {
    display: flex;

    @include md {
      flex-direction: column;
      gap: 40px;
    }

    @include xlm {
      gap: 16px;
    }
  }

  &__left {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
  }

  &__number {
    display: none;
    position: relative;

    @include before-xlm {
      flex-shrink: 0;
      padding: 0 60px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include md {
      padding: 0 40px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      height: 100%;
      width: 2px;

      background-color: var(--clr-gray1);
    }

    .number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      background-color: var(--clr-white);
      padding: 4px 0;
    }

    .number-inner {
      --size: 44px;
      width: var(--size);
      height: var(--size);

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--clr-blue-primary);
    }

    span {
      --size: 38px;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: var(--ff-secondary-semiBold);
      color: var(--clr-white);
      line-height: 30px;
      font-size: 20px;

      border-radius: 50%;

      border: 4px solid var(--clr-white);
      background-color: var(--clr-blue-primary);
    }
  }

  &__panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px;
    border-radius: 20px;
    background-color: var(--clr-gray1);
    border: 1px solid var(--clr-gray2);
    margin-bottom: 40px;

    @include xlm {
      gap: 8px;
      padding: 24px;
      margin-bottom: 16px;
    }

    &.last-panel {
      margin-bottom: 0;
    }

    p {
      max-width: 612px;
    }
  }

  .timeline__number {
    display: none;

    @include xlm {
      display: block;
    }
    .number-inner {
      --size: 44px;
      width: var(--size);
      height: var(--size);

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--clr-blue-primary);
      margin-bottom: 4px;
    }

    span {
      --size: 38px;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: var(--ff-secondary-semiBold);
      color: var(--clr-white);
      line-height: 30px;
      font-size: 20px;

      border-radius: 50%;

      border: 4px solid var(--clr-white);
      background-color: var(--clr-blue-primary);
    }
  }
}

.stack {
  &__container {
    --stack-container-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--stack-container-gap);

    @include xlm {
      grid-template-columns: 1fr;
      --stack-container-gap: 16px;
    }
  }

  &-section {
    padding: calc(var(--stack-container-gap) * 2);
    border-radius: 20px;
    background-color: var(--clr-gray1);
    border: 1px solid var(--clr-gray2);

    @include xlm {
      padding: 24px var(--stack-container-gap);
    }

    &__title {
      margin-bottom: var(--stack-container-gap);
    }

    &.full-width {
      grid-column: -1 / 1;

      .stack-row {
        grid-template-columns: repeat(10, 98px);

        @include lg {
          grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
        }

        @include xlm {
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }

        .stack-icon {
          width: 98px;

          @include xlm {
            width: 60px;
          }
        }
      }
    }
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    gap: var(--stack-container-gap);

    @include lg {
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    }

    @include xlm {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;

    @include before-xlm {
      text-align: center;
      flex-direction: column;
    }

    span {
      font-size: 14px;
      line-height: 20px;

      @include xlm {
        line-height: 18px;
      }
    }
  }

  &-icon {
    flex-shrink: 0;
    width: 90px;
    aspect-ratio: 1;
    position: relative;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    border-radius: 12px;

    @include xlm {
      width: 60px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include xlm {
        width: 45px;
      }
    }
  }
}

.faq-section {
  &__container {
    .accordion:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    @include before-xlm {
      gap: 16px;
      margin-bottom: 40px;
      text-align: center;
      align-items: center;
    }
    gap: 8px;
    margin-bottom: 16px;
  }
}

.dots-bg {
  position: relative;
  pointer-events: none;

  @include before-lg {
    &::before,
    &::after {
      content: "";

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/dots.svg);
    }

    &::before {
      background-position: left;
    }
    &::after {
      background-position: right;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.65);
  @include lg {
    padding: 16px;
  }
  &__content-wrapper {
    margin: auto;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: fit-content;
    max-height: 90vh;
    height: 100%;
    border-radius: 4px;
    // @include lg {
    //   max-height: 90vh;
    // }
  }
  &__content-wrapper,
  #caption {
    animation-name: modalZoom;
    animation-duration: 0.6s;
  }
  &__image {
    width: 100%;
    max-width: 990px;
    max-height: 100%;
    border-radius: 4px;
  }
  &__close {
    position: absolute;
    top: 0;
    right: -64px;
    transition: 0.3s;
    width: 48px;
    height: 48px;
    cursor: pointer;
    @include lg {
      right: 0;
      top: -64px;
    }

    & svg {
      & rect {
        transition: $transition;
        stroke: var(--clr-gray2);
      }
      & path {
        transition: $transition;
        stroke: var(--clr-gray2);
      }
    }
    &:hover {
      & svg {
        & rect {
          stroke: var(--clr-white);
        }
        & path {
          stroke: var(--clr-white);
        }
      }
    }
  }
  &__text {
    & > div {
      width: 100% !important;
      max-width: 680px;
      margin: 0 auto !important;
      padding: 40px;
      @include sm {
        padding: 20px;
      }

      &:hover {
        border-color: pink;
      }
      & .reviews__slide-title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 24px;
        @include sm {
          margin-bottom: 16px;
          font-size: 16px;
          line-height: 23px;
        }
      }
      & .reviews__slide-text {
        font-size: 16px;
        line-height: 27px;
        -webkit-line-clamp: none;
        display: block;
        overflow: visible;
        @include sm {
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 23px;
        }

        & span {
          display: none;
        }
      }
      & .reviews__manWrapper {
        @include sm {
          margin-top: 0;
        }
      }
    }
  }
}

@keyframes modalZoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;

  border: 1px solid var(--clr-gray2);
  border-radius: 12px;
  background: var(--clr-gray1);

  @include xlm {
    margin-bottom: 16px;
  }

  &[open] > .accordion-title:before {
    transform: rotate(180deg);
  }

  &[open] .accordion-title ~ * {
    animation: sweep 0.5s ease-in-out;
  }
}

.accordion-title {
  --control-arrow-size: 40px;

  font-size: 18px;
  line-height: 27px;
  font-family: var(--ff-secondary-semiBold);

  display: block;
  padding: 16px calc(18px + var(--control-arrow-size)) 17px 16px;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    width: var(--control-arrow-size);
    height: var(--control-arrow-size);
    color: transparent;

    background: url("../img/arrow.svg") no-repeat 50% 50%;
    border-radius: 50%;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    transition: transform 0.5s;

    position: absolute;
    top: 10px;
    right: 16px;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }

  &::marker {
    display: none;
  }

  & ~ * {
    padding: 0 16px 16px;
  }

  &:focus {
    outline: 0;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
