$transition: all 0.2s ease-in-out;

$MEDIA: (
  m: 320px,
  xm: 375px,
  xlm: 568px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1366px,
  xll: 1440px,
  hd: 1920px,
  xhd: 2560px,
);

@mixin m {
  @media (max-width: map_get($MEDIA, m)) {
    @content;
  }
}

@mixin xm {
  @media (max-width: map_get($MEDIA, xm)) {
    @content;
  }
}

@mixin xlm {
  @media (max-width: map_get($MEDIA, xlm)) {
    @content;
  }
}

@mixin before-xlm {
  @media (min-width: map_get($MEDIA, xlm)) {
    @content;
  }
}

@mixin before-sm {
  @media (min-width: map_get($MEDIA, sm)) {
    @content;
  }
}

@mixin sm {
  @media (max-width: map_get($MEDIA, sm)) {
    @content;
  }
}

@mixin md {
  @media (max-width: map_get($MEDIA, md)) {
    @content;
  }
}

@mixin before-md {
  @media (min-width: map_get($MEDIA, md)) {
    @content;
  }
}

@mixin before-lg {
  @media (min-width: map_get($MEDIA, lg)) {
    @content;
  }
}

@mixin lg {
  @media (max-width: map_get($MEDIA, lg)) {
    @content;
  }
}

@mixin xl {
  @media (max-width: map_get($MEDIA, xl)) {
    @content;
  }
}

@mixin xll {
  @media (max-width: map_get($MEDIA, xll)) {
    @content;
  }
}

@mixin hd {
  @media (max-width: map_get($MEDIA, hd)) {
    @content;
  }
}

@mixin xhd {
  @media (max-width: map_get($MEDIA, xhd)) {
    @content;
  }
}

* {
  ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      transition: $transition;
  }

  ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
      background: var(--clr-background-secondary);
      border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: var(--clr-text-primary);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}

.half-screen-height {
  min-height: 60svh;

  @include xlm {
    min-height: 85svh;
  }
}

.rectangle-image {
  overflow: hidden;
  border-radius: var(--border-radius-primary);
}

.section-small {
  padding: var(--section-spacing-small) 0;
}

.section-big {
  padding: var(--section-spacing-big) 0;
}

.bg-dark {
  color: var(--clr-white);
  background: var(--clr-background-gradient);
}

.bg-gray {
  background-color: var(--clr-gray1);
}

.fz-24-22 {
  font-size: 24px;
  line-height: 36px;

  @include md {
    font-size: 22px;
    line-height: 30px;
  }
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-with-divider {
  padding-top: var(--primary-gap);
  border-top: 1px solid var(--clr-gray2);
}

.mt-24 {
  margin-top: 24px;
  @include xlm {
    margin-top: 16px;
  }
}

.mb-20 {
  margin-bottom: var(--primary-gap);
}

.mb-40 {
  margin-bottom: 40px;
  @include xlm {
    margin-bottom: 16px;
  }
}

.big-bold {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--ff-secondary-bold);

  @include xlm {
    font-size: 16px;
    line-height: 20.7px;
  }
}

.text-white60 {
  color: var(--clr-white60);
}

.text-center {
  text-align: center;
}

.elem-center {
  margin-inline: auto;
}

.width380 {
  max-width: 380px;
}

.width480 {
  max-width: 480px;
}

.width546 {
  max-width: 546px;
}

.width590 {
  max-width: 590px;
}

.width650 {
  max-width: 650px;
}

.width690 {
  max-width: 690px;
}

.width720 {
  max-width: 720px;
}

.width730 {
  max-width: 730px;
}

.width768 {
  max-width: 768px;
}

.width800 {
  max-width: 800px;
}

.width850 {
  max-width: 850px;
}

.d-flex {
  display: flex;

  @include lg {
    flex-direction: column;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  gap: var(--primary-gap);

  @include md {
    flex-direction: column;
  }
}

.f-grow {
  flex-grow: 1;
}

.small-gap {
  gap: var(--primary-gap);
}

.medium-gap {
  gap: 40px !important;

  @include xlm {
    gap: 16px !important;
  }
}

.large-gap {
  gap: 60px !important;

  @include sm {
    gap: 40px !important;
  }

  @include xlm {
    gap: 16px !important;
  }
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include sm {
    grid-template-columns: 1fr;
  }
  @extend .large-gap;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include sm {
    grid-template-columns: 1fr;
  }
  @extend .large-gap;
}
