button {
  --btn-ff: var(--ff-primary-bold);
  --btn-fz: var(--fz-primary);
  --btn-clr: var(--clr-text-primary);
  --btn-lh: 20.7px;
  --btn-bg: transparent;

  font-family: var(--btn-ff);
  font-size: var(--btn-fz);
  color: var(--btn-clr);
  line-height: var(--btn-lh);
  background-color: var(--btn-bg);
  min-width: 10ch;
  min-height: 46px;
  padding: 0.8125em 1.5em;
  border-radius: 3.125em;
  cursor: pointer;

  @include md {
    --btn-fz: 18px;
  }

  @include xlm {
    width: 100%;
    --btn-lh: 27px;
  }

  &.contact-btn {
    --btn-clr: var(--clr-white);
    --btn-bg: var(--clr-blue-primary);
  }

  &.read-more-light-btn {
    --btn-bg: var(--clr-gray1);
  }

  &.read-more-dark-btn {
    --btn-clr: var(--clr-white);
    --btn-bg: var(--clr-white05);
  }

  &.back-to-home-btn {
    --btn-clr: var(--clr-white);
    --btn-bg: var(--clr-blue-primary);
    width: auto;
  }
}

.hero-second {
  &__header {
    background: var(--clr-background-gradient);
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100% - var(--header-height));
      padding-top: calc(var(--header-height) + var(--section-spacing-small));
      padding-bottom: var(--section-spacing-small);
    }

    &-title {
      max-width: 880px;
      text-align: center;
    }

    &-subtitle {
      text-align: center;
      max-width: 686px;
      color: var(--clr-white60);
      margin-top: 20px;

      @include xlm {
        margin-top: 16px;
      }
    }
  }

  &__btn {
    margin-top: 40px;
    @include before-xlm {
      width: 160px;
    }
    @include xlm {
      margin-top: 20px;
    }
  }
}

.case-studies {
  &__header {
    width: 100%;
    height: 100vh;

    .backgroundImage {
      position: absolute;
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 70%;

        @include xlm {
          object-position: 20% center;
        }

        &.electrical-grid-img-pos {
          object-position: center 10%;
          @include xlm {
            object-position: 20% center;
          }
        }

        &.algorithmic-and-manual-power-img-pos {
          object-position: center 20%;

          @include xlm {
            object-position: 5% 10%;
          }
        }

        &.finops-solutions-cloud-infrastructure-img-pos {
          object-position: center 20%;
        }

        &.improving-customer-engagement-img-pos {
          object-position: center 60%;
          @include xlm {
            object-position: 45% center;
          }
        }
        &.electricity-auctions-img-pos {
          object-position: 10% top;
        }
      }
      &::after {
        content: "";

        display: block;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100% - var(--header-height));
      padding-top: calc(var(--header-height) + var(--section-spacing-small));
      padding-bottom: var(--section-spacing-small);
    }

    &-title {
      max-width: 880px;
      text-align: center;
    }

    &-subtitle {
      text-align: center;
      max-width: 686px;
      color: var(--clr-white60);
      margin-top: 20px;

      @include xlm {
        margin-top: 16px;
      }
    }
  }

  &__btn {
    margin-top: 40px;
    @include before-xlm {
      width: 160px;
    }
    @include xlm {
      margin-top: 20px;
    }
  }
}

.gray-section {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include before-xlm {
      align-items: center;
      text-align: center;
      margin-inline: auto;
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }

    @include xlm {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  &__subtitle {
    @include before-xlm {
      text-align: center;
    }
  }
}

.feature {
  &__container {
    display: grid;
    @include before-md {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    &.col-3 {
      grid-template-columns: repeat(3, 1fr);

      @include md {
        grid-template-columns: 1fr;
        gap: 24px;
      }
    }

    &.col-4 {
      grid-template-columns: repeat(4, 1fr);

      @include lg {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }
      @include md {
        grid-template-columns: repeat(2, 1fr);
      }
      @include sm {
        grid-template-columns: 1fr;
      }
    }

    &__static {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);

      @include sm {
        grid-template-columns: 1fr;
        gap: 16px;
      }
    }
  }

  &-item {
    background-color: var(--clr-gray1);
    border: 1px solid var(--clr-gray2);
    border-radius: var(--border-radius-primary);
    padding: 32px;

    @include md {
      padding: 24px;
    }

    &-with-link {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__static {
      background-color: var(--clr-gray1);
      border: 1px solid var(--clr-gray2);
      border-radius: var(--border-radius-primary);
      padding: 32px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .feature-icon {
        align-self: center;
      }

      p {
        font-family: var(--ff-primary-bold);
        text-align: center;
        line-height: 20.7px;
      }
    }
  }

  &-item__inner {
    display: flex;
    gap: 20px;

    @include md {
      flex-direction: column;
      gap: 24px;
    }

    &.full-height {
      height: 100%;

      p {
        margin-top: auto;
      }
    }

    &.row {
      flex-direction: row;
    }
  }

  &-icon {
    flex-shrink: 0;
    align-self: flex-start;
    width: 60px;
    aspect-ratio: 1;
    position: relative;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    border-radius: 12px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-title {
    &.short {
      max-width: 220px;
    }
  }

  &-text {
  }

  &-link {
    margin-top: 8px;
    color: var(--clr-blue-primary);
    font-family: var(--ff-primary-bold);
    line-height: 20.7px;
  }
}

.timeline-section {
  &__container {
    display: flex;

    @include md {
      flex-direction: column;
      gap: 40px;
    }

    @include xlm {
      gap: 16px;
    }
  }

  &__left {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
  }

  &__number {
    display: none;
    position: relative;

    @include before-xlm {
      flex-shrink: 0;
      padding: 0 60px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include md {
      padding: 0 40px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      height: 100%;
      width: 2px;

      background-color: var(--clr-gray1);
    }

    .number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      background-color: var(--clr-white);
      padding: 4px 0;
    }

    .number-inner {
      --size: 44px;
      width: var(--size);
      height: var(--size);

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--clr-blue-primary);
    }

    span {
      --size: 38px;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: var(--ff-secondary-semiBold);
      color: var(--clr-white);
      line-height: 30px;
      font-size: 20px;

      border-radius: 50%;

      border: 4px solid var(--clr-white);
      background-color: var(--clr-blue-primary);
    }
  }

  &__panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px;
    border-radius: var(--border-radius-primary);
    background-color: var(--clr-gray1);
    border: 1px solid var(--clr-gray2);
    margin-bottom: 40px;

    @include xlm {
      gap: 8px;
      padding: 24px;
      margin-bottom: 16px;
    }

    &.last-panel {
      margin-bottom: 0;
    }

    p {
      max-width: 612px;
    }
  }

  .timeline__number {
    display: none;

    @include xlm {
      display: block;
    }
    .number-inner {
      --size: 44px;
      width: var(--size);
      height: var(--size);

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--clr-blue-primary);
      margin-bottom: 4px;
    }

    span {
      --size: 38px;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: var(--ff-secondary-semiBold);
      color: var(--clr-white);
      line-height: 30px;
      font-size: 20px;

      border-radius: 50%;

      border: 4px solid var(--clr-white);
      background-color: var(--clr-blue-primary);
    }
  }
}

.stack {
  &__container {
    --stack-container-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--stack-container-gap);

    @include sm {
      grid-template-columns: 1fr;
      --stack-container-gap: 16px;
    }
  }

  &-section {
    padding: calc(var(--stack-container-gap) * 2);
    border-radius: var(--border-radius-primary);
    background-color: var(--clr-gray1);
    border: 1px solid var(--clr-gray2);

    @include sm {
      padding: 24px var(--stack-container-gap);
    }

    &__title {
      margin-bottom: var(--stack-container-gap);
      @include md {
        font-size: 18px;
      }
    }

    &.col-4 {
      grid-column: -1 / 1;

      .stack-row {
        grid-template-columns: repeat(4, 98px);

        @include lg {
          grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
        }

        @include xlm {
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }

        .stack-icon {
          width: 98px;

          @include xlm {
            width: 60px;
          }
        }
      }
    }

    &.col-5 {
      grid-column: -1 / 1;

      .stack-row {
        grid-template-columns: repeat(5, 98px);

        @include lg {
          grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
        }

        @include xlm {
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }

        .stack-icon {
          width: 98px;

          @include xlm {
            width: 60px;
          }
        }
      }
    }

    &.col-6 {
      grid-column: -1 / 1;

      .stack-row {
        grid-template-columns: repeat(6, 98px);

        @include lg {
          grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
        }

        @include xlm {
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }

        .stack-icon {
          width: 98px;

          @include xlm {
            width: 60px;
          }
        }
      }
    }

    &.full-width {
      grid-column: -1 / 1;

      .stack-row {
        grid-template-columns: repeat(10, 98px);

        @include lg {
          grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
        }

        @include xlm {
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }

        .stack-icon {
          width: 98px;

          @include xlm {
            width: 60px;
          }
        }
      }
    }
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    gap: var(--stack-container-gap);

    @include lg {
      grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
    }

    @include xlm {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;

    @include before-xlm {
      text-align: center;
      flex-direction: column;
    }

    span {
      font-size: 14px;
      line-height: 20px;

      @include xlm {
        line-height: 18px;
      }
    }
  }

  &-icon {
    flex-shrink: 0;
    width: 90px;
    aspect-ratio: 1;
    position: relative;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    border-radius: 12px;

    @include xlm {
      width: 60px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include xlm {
        width: 45px;
      }
    }
  }
}

.faq-section {
  &__container {
    .accordion:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    @include before-xlm {
      gap: 16px;
      margin-bottom: 40px;
      text-align: center;
      align-items: center;
    }
    gap: 8px;
    margin-bottom: 16px;
  }
}

.dots-bg {
  position: relative;
  pointer-events: none;

  @include before-lg {
    &::before,
    &::after {
      content: "";

      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/dots.svg);
    }

    &::before {
      background-position: left;
    }
    &::after {
      background-position: right;
    }
  }
}

.global-skills {
  --gap: 64px;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;

    @include xlm {
      margin-bottom: 16px;
      gap: 8px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 40px;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    @include xlm {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__item {
    --item-gap: 12px;

    @include xlm {
      --item-gap: 8px;
    }

    display: flex;
    flex-direction: column;
    gap: var(--item-gap);

    &-header {
      display: flex;
      align-items: flex-start;
      gap: var(--item-gap);

      img {
        flex-shrink: 0;
      }

      @include xlm {
        align-items: center;
        h3 {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--clr-gray2);
  margin: 0;
}

.list-with-text {
  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
  }
}

.unordered-list-with-mark {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__grid {
    @extend .unordered-list-with-mark;
    display: grid;
    gap: var(--primary-gap);

    &.col-2 {
      grid-template-columns: repeat(2, 1fr);

      @include sm {
        grid-template-columns: 1fr;
      }

      &.list-large-gap {
        gap: 20px 60px;
        @include md {
          gap: 20px 40px;
        }
        @include xlm {
          gap: 16px;
        }
      }
    }

    &.col-3 {
      grid-template-columns: repeat(3, 1fr);

      @include sm {
        grid-template-columns: 1fr;
      }
    }

    &.col-4 {
      grid-template-columns: repeat(4, 1fr);

      @include md {
        grid-template-columns: repeat(3, 1fr);
      }

      @include sm {
        grid-template-columns: repeat(2, 1fr);
      }

      @include xlm {
        grid-template-columns: 1fr;
      }
    }
  }

  li {
    padding-left: 14px;

    &::after {
      content: "";

      position: absolute;
      top: 9px;
      left: 0;

      display: block;
      width: 6px;
      height: 6px;

      background-color: var(--clr-blue-primary);
      border-radius: 50%;
    }
  }
}

.grid-info-section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 160px;

  @include sm {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @include xlm {
    gap: 16px;
  }
}

.grid-image-title {
  display: grid;
  grid-template-areas:
    "image title"
    "image text"
    "image text";
  gap: 20px 80px;

  @include md {
    grid-template-areas:
      "title "
      "image "
      "text ";
    gap: 16px;
  }

  .grid-image {
    max-width: 500px;
    grid-area: image;
  }

  .grid-title {
    grid-area: title;
  }

  .grid-text {
    grid-area: text;
  }
}

.cards {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--primary-gap);

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: 1fr;
    }

    &.col-2 {
      grid-template-columns: repeat(2, 1fr);
      @include sm {
        grid-template-columns: 1fr;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 32px;
      background-color: var(--clr-white);
      border: 1px solid var(--clr-gray2);
      border-radius: var(--border-radius-primary);

      span {
        font-size: 24px;
        font-family: var(--ff-secondary-semiBold);
        line-height: 36px;
      }
    }
  }
}

.grid-image-title-second {
  display: grid;
  grid-template-columns: 534px 1fr;
  grid-template-rows: 82.5px auto auto 82.5px;
  gap: 0 60px;

  @include lg {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  @include md {
    gap: 16px;
  }

  .grid-image {
    max-width: 534px;
    overflow: hidden;
    border-radius: var(--border-radius-primary);
    grid-row: 1 / -1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @include lg {
      grid-row: 2 /3;
    }
  }

  .grid-title {
    grid-row: 2 / 3;

    @include lg {
      grid-row: 1 /2;
    }
  }

  .grid-subtitle {
    font-family: var(--ff-secondary-semiBold);
    font-size: 18px;
    line-height: 27px;
    margin-top: 8px;

    @include lg {
      font-size: 16px;
      line-height: 20.7px;
    }
  }

  .grid-text {
    grid-row: 3 / 4;
    color: var(--clr-white60);
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.65);
  @include lg {
    padding: 16px;
  }
  &__content-wrapper {
    margin: auto;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: fit-content;
    max-height: 90vh;
    height: 100%;
    border-radius: 4px;
    // @include lg {
    //   max-height: 90vh;
    // }
  }
  &__content-wrapper,
  #caption {
    animation-name: modalZoom;
    animation-duration: 0.6s;
  }
  &__image {
    width: 100%;
    max-width: 990px;
    max-height: 100%;
    border-radius: 4px;
  }
  &__close {
    position: absolute;
    top: 0;
    right: -64px;
    transition: 0.3s;
    width: 48px;
    height: 48px;
    cursor: pointer;
    @include lg {
      right: 0;
      top: -64px;
    }

    & svg {
      & rect {
        transition: $transition;
        stroke: var(--clr-gray2);
      }
      & path {
        transition: $transition;
        stroke: var(--clr-gray2);
      }
    }
    &:hover {
      & svg {
        & rect {
          stroke: var(--clr-white);
        }
        & path {
          stroke: var(--clr-white);
        }
      }
    }
  }
  &__text {
    & > div {
      width: 100% !important;
      max-width: 680px;
      margin: 0 auto !important;
      padding: 40px;
      @include sm {
        padding: 20px;
      }

      &:hover {
        border-color: pink;
      }
      & .reviews__slide-title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 24px;
        @include sm {
          margin-bottom: 16px;
          font-size: 16px;
          line-height: 23px;
        }
      }
      & .reviews__slide-text {
        font-size: 16px;
        line-height: 27px;
        -webkit-line-clamp: none;
        display: block;
        overflow: visible;
        @include sm {
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 23px;
        }

        & span {
          display: none;
        }
      }
      & .reviews__manWrapper {
        @include sm {
          margin-top: 0;
        }
      }
    }
  }
}

@keyframes modalZoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;

  border: 1px solid var(--clr-gray2);
  border-radius: 12px;
  background: var(--clr-gray1);

  @include xlm {
    margin-bottom: 16px;
  }

  &[open] > .accordion-title:before {
    transform: rotate(180deg);
  }

  &[open] .accordion-title ~ * {
    animation: sweep 0.5s ease-in-out;
  }
}

.accordion-title {
  --control-arrow-size: 40px;

  font-size: 18px;
  line-height: 27px;
  font-family: var(--ff-secondary-semiBold);

  display: block;
  padding: 16px calc(18px + var(--control-arrow-size)) 17px 16px;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    width: var(--control-arrow-size);
    height: var(--control-arrow-size);
    color: transparent;

    background: url("../img/arrow.svg") no-repeat 50% 50%;
    border-radius: 50%;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-gray2);
    transition: transform 0.5s;

    position: absolute;
    top: 10px;
    right: 16px;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }

  &::marker {
    display: none;
  }

  & ~ * {
    padding: 0 16px 16px;
  }

  &:focus {
    outline: 0;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
