$transition: all 0.2s ease-in-out;

$MEDIA: (
  m: 320px,
  xm: 375px,
  xlm: 568px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1366px,
  xll: 1440px,
  hd: 1920px,
  xhd: 2560px,
);

@mixin m {
  @media (max-width: map_get($MEDIA, m)) {
    @content;
  }
}

@mixin xm {
  @media (max-width: map_get($MEDIA, xm)) {
    @content;
  }
}

@mixin xlm {
  @media (max-width: map_get($MEDIA, xlm)) {
    @content;
  }
}

@mixin before-xlm {
  @media (min-width: map_get($MEDIA, xlm)) {
    @content;
  }
}

@mixin before-sm {
  @media (min-width: map_get($MEDIA, sm)) {
    @content;
  }
}

@mixin sm {
  @media (max-width: map_get($MEDIA, sm)) {
    @content;
  }
}

@mixin md {
  @media (max-width: map_get($MEDIA, md)) {
    @content;
  }
}

@mixin before-md {
  @media (min-width: map_get($MEDIA, md)) {
    @content;
  }
}

@mixin before-lg {
  @media (min-width: map_get($MEDIA, lg)) {
    @content;
  }
}

@mixin lg {
  @media (max-width: map_get($MEDIA, lg)) {
    @content;
  }
}

@mixin xl {
  @media (max-width: map_get($MEDIA, xl)) {
    @content;
  }
}

@mixin xll {
  @media (max-width: map_get($MEDIA, xll)) {
    @content;
  }
}

@mixin hd {
  @media (max-width: map_get($MEDIA, hd)) {
    @content;
  }
}

@mixin xhd {
  @media (max-width: map_get($MEDIA, xhd)) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-small {
  padding: var(--section-spacing-small) 0;
}

.section-big {
  padding: var(--section-spacing-big) 0;
}

.bg-dark {
  color: var(--clr-white);
  background: var(--clr-background-gradient);
}

.bg-gray {
  background-color: var(--clr-gray1);
}

.rotate180 {
  rotate: 180deg;
  transform-origin: 0 0;
}

.pt-0 {
  padding-top: 0;
}

.text-white60 {
  color: var(--clr-white60);
}

.text-center {
  text-align: center;
}

.elem-center {
  margin-inline: auto;
}

.width380 {
  max-width: 380px;
}

.width480 {
  max-width: 480px;
}

.width546 {
  max-width: 546px;
}

.width690 {
  max-width: 690px;
}

.width720 {
  max-width: 720px;
}

.width768 {
  max-width: 768px;
}

.width800 {
  max-width: 800px;
}
