.our-expertise {
  padding-bottom: 0;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 390px;

    @include before-xlm {
      text-align: center;
    }
  }
}

.why-us {
  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
  }
}
