.header {
  //to delete
  display: block;
  //
  width: 100%;
  height: 90vh;
  background: linear-gradient(
      286deg,
      rgba(76, 83, 88, 0.45) -32.3%,
      #111112 26.78%,
      rgba(17, 17, 18, 0.96) 63.17%,
      rgba(76, 83, 88, 0.45) 131.64%
    ),
    #24272b;

  #backgroundVideo {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    top: 0;
    left: 0;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    z-index: 2;
  }

  &__subtitle {
    color: var(--clr-white60);
    max-width: 742px;
    text-align: center;
    margin-top: 16px;
  }

  &__items-wrapper {
    display: flex;
    padding: 20px;
    margin-top: 40px;
  }

  &__item {
    color: var(--clr-white);
    text-align: center;

    &:first-child {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  &__item-title {
    font-family: var(--ff-secondary-bold);
    font-size: 60px;
    line-height: 60px;

    &:after {
      content: url(../img/plus_white_icon.svg);
      top: -10px;
      left: 4px;
    }
  }
}

.info-block__main {
  &-inner {
    display: flex;
    justify-content: center;
    gap: calc(var(--primary-gap) * 3);

    @include md {
      flex-direction: column;
      gap: var(--primary-gap);
    }
  }

  &-image {
    border-radius: 20px;
    overflow: hidden;

    img {
      @include md {
        width: 100%;
      }
      @include xlm {
        max-height: 387px;
        object-fit: cover;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--primary-gap);
    max-width: 544px;

    @include md {
      max-width: 100%;
    }
  }

  &--reversed {
    @include md {
      flex-direction: column-reverse;
    }
  }

  &-title {
    &.mobile-title {
      margin-bottom: var(--primary-gap);
      @include before-md {
        display: none;
      }
    }
    &.desktop-title {
      @include md {
        display: none;
      }
    }
  }

  &-btn {
    align-self: flex-start;
    @include before-xlm {
      margin-top: var(--primary-gap);
    }
  }
}

.services {
  h2 {
    color: var(--clr-text-primary);
    text-align: center;
    margin-bottom: 40px;
  }

  &__swiper-slide {
    color: var(--clr-text-primary);
    border-radius: 20px;
    border: 1px solid var(--clr-gray2);
    padding: 32px;
    background: var(--clr-gray1);
    cursor: pointer;
    transition: $transition;
    height: 364px;
    max-width: 400px;

    &:not(:nth-child(3n + 3)) {
      margin-right: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:after {
      content: url(../img/arror_link_icon.svg);
      position: absolute;
      right: 32px;
      top: 32px;
      opacity: 0;
      transition: $transition;
    }

    &:hover {
      border: 1px solid var(--clr-blue-primary);

      &:after {
        opacity: 1;
      }
    }
  }

  &__slide-icon {
    margin-bottom: 56px;
  }

  &__slide-text {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 12px;
  }

  @media (min-width: 1280px) {
    &__swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__swiper-slide {
      // padding: 10px;
    }
  }
}

.stack__main {
  position: relative;
  overflow: hidden;
  padding: 40px 0;

  @include xlm {
    padding: 24px 0;
  }

  &-inner {
    display: flex;
    gap: calc(var(--primary-gap) * 4);
    animation: horizontal-loop 15s linear infinite alternate;

    img {
      min-width: auto;
    }

    @include xlm {
      gap: calc(var(--primary-gap) * 2);
      animation: horizontal-loop-mobile 15s linear infinite alternate;
    }
  }
}

.fade {
  --fade-clr: var(--clr-background-secondary);
  position: absolute;
  background: linear-gradient(
    90deg,
    var(--fade-clr),
    transparent 30%,
    transparent 70%,
    var(--fade-clr)
  );
  inset: 0;
  pointer-events: none;
}

@keyframes horizontal-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}

@keyframes horizontal-loop-mobile {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.certifications {
  h2 {
    color: var(--clr-text-primary);
    text-align: center;
    margin-bottom: 40px;
  }

  &__container {
    @include lg {
      flex-direction: column;
    }
  }
}

.industries {
  &__container {
    display: grid;
    gap: 40px 173px;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;

    @include lg {
      gap: 40px 80px;
    }

    @include md {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      gap: var(--primary-gap);
    }
  }

  &__content {
    --local-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--local-gap);

    @include sm {
      gap: calc(var(--local-gap) / 2);
    }
  }

  &__item {
    flex: 0 1 calc(50% - calc(var(--local-gap) / 2));
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include sm {
      flex: 0 1 calc(50% - calc(var(--local-gap) / 4));
    }

    @include xlm {
      flex: 1 1 auto;
    }
  }

  &-image {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
    margin-top: var(--primary-gap);

    @include md {
      margin-top: auto;
      grid-column: auto;
      grid-row: 2 / 3;
    }
  }
}

.reviews {
  background-color: var(--clr-gray1);

  h2 {
    text-align: center;
    margin: 0 auto 40px;
  }

  .clutch-widget {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;

    &:before {
      content: url(../img/main-page/dots-background.svg);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%);
    }

    &:after {
      content: url(../img/main-page/dots-background.svg);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
    }
  }
}

.history__main {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "image title title"
      "image content content";
    gap: 0 60px;

    @include lg {
      gap: var(--primary-gap);
      grid-template-areas:
        "title"
        "image"
        "content";
    }
  }

  &__title {
    grid-area: title;
    margin-bottom: 20px;
    @include lg {
      margin-bottom: 0;
    }
  }

  &-image {
    grid-area: image;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    img {
      @include lg {
        width: 100%;
      }
    }

    .image-label {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      border-radius: 16px;
      background-color: var(--clr-background-primary);

      &__inner {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 8px;

        @include sm {
          padding: 16px;
          gap: 4px;
        }
      }
    }
  }

  &-content {
    grid-area: content;
    display: flex;

    @include sm {
      flex-direction: column;
      gap: 16px;
    }

    @include xlm {
      gap: 8px;
    }

    .col {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include lg {
        flex: 0 1 50%;
      }

      @include sm {
        gap: 16px;
      }

      @include xlm {
        gap: 8px;
      }

      p {
        width: 340px;
        @include lg {
          width: 100%;
        }
      }

      &:not(:last-child) {
        --local-gap: 40px;
        padding-right: var(--local-gap);
        margin-right: var(--local-gap);
        border-right: 1px solid var(--clr-gray2);

        @include lg {
          --local-gap: 20px;
        }

        @include sm {
          --local-gap: 0;
          border-right: none;
        }
      }
    }
  }
}

.contact-us {
  --offset: 22px;

  &__container {
    padding-top: var(--offset);
    padding-bottom: var(--offset);
    position: relative;

    @include lg {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__header {
    padding-bottom: 20px;

    @include sm {
      padding-bottom: 16px;
    }
  }

  &__content {
    font-style: normal;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__image {
    overflow: hidden;
    border-radius: 20px;

    max-width: 610px;
    position: absolute;
    z-index: 5;
    right: 0;
    top: calc(var(--offset) * -1);

    @include lg {
      position: static;
      max-width: 100%;
      padding-top: 16px;
    }
  }

  &__content-item {
    display: flex;
    gap: 12px;
    padding: var(--primary-gap) 0;
    border-bottom: 1px solid var(--clr-white21);
    position: relative;

    &:first-child {
      border-top: 1px solid var(--clr-white21);

      &::before {
        content: "";

        position: absolute;
        top: -1px;
        left: 0;

        width: 100%;
        height: 1px;
        background-color: var(--clr-white21);
        transform: translateX(100%);
      }
    }

    &::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: 0;

      width: 100%;
      height: 1px;
      background-color: var(--clr-white21);
      transform: translateX(100%);
    }

    @include md {
      &:first-child::before,
      &::before,
      &::after {
        content: none;
      }
    }

    span {
      font-family: var(--ff-primary-bold);
    }

    & > div p,
    a {
      color: var(--clr-white60);
    }
  }
}

.footer {
  padding: calc(var(--section-spacing-small) / 2) 0;

  @include md {
    padding: var(--section-spacing-small) 0;
  }
}

.bg-footer {
  background-color: #24272b;
}

.footer-logo {
  width: 172px;
}

.footer-nav {
  &__top {
    display: flex;
    gap: 80px;
    padding-bottom: calc(var(--section-spacing-small) / 2);
    border-bottom: 1px solid var(--clr-white21);

    @include lg {
      padding-bottom: var(--section-spacing-small);
      flex-direction: column;
      gap: 20px;

      .about-us__col {
        order: 1;
      }

      .how-we-work__col {
        order: 2;
      }

      .services__col {
        order: 3;
        .col-title {
          margin-bottom: 8px;
        }
      }

      .reviews__col {
        order: 4;

        .col-title {
          margin-top: 12px;
          margin-bottom: 0;
        }
      }
    }

    @include xlm {
      gap: 0;
    }

    .col {
      @include before-lg {
        &:nth-child(1) {
          max-width: 248px;
        }
        &:nth-child(2) {
          max-width: 494px;
        }
        &:last-child {
          margin-left: 17px;
        }
      }
      @include lg {
        width: 100%;
      }
      @include md {
        &.about-us__col {
          ul {
            display: none;
          }
        }
      }
    }
  }

  &__bottom {
    padding-top: 50px;
    display: flex;

    @include before-sm {
      justify-content: space-between;
    }

    @include md {
      padding-top: 24px;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    .col {
      display: flex;
      justify-content: space-between;

      ul {
        margin-top: 5px;
      }

      @include sm {
        justify-content: space-around;
      }

      @include before-md {
        &:nth-child(1) {
          max-width: 421px;
          width: 100%;
        }
        &:nth-child(2) {
          max-width: 494px;
          width: 100%;
        }
      }

      &:nth-child(2) {
        .social-media__wrapper {
          @include before-lg {
            transform: translateY(-10px);
          }
        }

        .reviews-widget {
          align-self: center;
        }
      }
      @include md {
        &.column-first {
          flex-direction: column;
          align-items: center;
          gap: 24px;
        }

        &.column-second {
          flex-direction: column-reverse;
          align-items: center;
          gap: 24px;
        }
      }
    }
  }

  .info {
    @include md {
      display: flex;
      align-items: center;
      gap: 8px;

      li {
        margin-bottom: 0 !important;
      }
    }
  }

  .col-title {
    color: var(--clr-white);
    margin-bottom: 12px;
  }

  ul {
    display: flex;
    gap: 40px;

    @include xlm {
      flex-direction: column;
      gap: 10px;
    }

    li {
      color: var(--clr-white60);

      &:not(:last-child) {
        margin-bottom: 8px;

        @include xlm {
          margin-bottom: 4px;
        }
      }
    }
  }

  .copy {
    font-size: 14px;
    color: #7b7e84;
    margin-top: 13px;

    @include md {
      margin-top: 24px;
      text-align: center;
    }
  }
}

.footer__social-media {
  display: flex;
  gap: 10px;

  .icon {
    --size: 48px;

    display: block;
    width: var(--size);
    height: var(--size);

    border-radius: 50%;
    background-color: var(--clr-white21);
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
//to delete
