.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  transition: $transition;

  &__content-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0;
    transition: $transition;

    @include lg {
      position: initial;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include lg {
      width: 100vw;
      height: 100vh;
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background: var(--clr-background-gradient);
      flex-direction: column;
      align-items: flex-start;
      padding: 24px;
      justify-content: flex-start;
    }

    @include sm {
      padding: 16px;
    }
  }

  &__left-section {
    display: flex;
    gap: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 16px 40px;
    border-radius: 40px;

    @include lg {
      flex-direction: column;
      margin-right: 0;
      width: 100%;
      gap: 0;
      padding: 0;
      border: none;
    }
  }

  &__logo {
    margin-right: 40px;
  }

  &__dropdown-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;

    & > a {
      @include lg {
        padding-top: 20px !important;
      }
    }

    & > div {
      display: none;
      // display: flex;
      flex-direction: column;
      position: absolute;
      top: 20px;
      left: -20px;
      background-color: black;
      width: 282px;
      padding: 8px 20px;
      border-radius: var(--border-radius-primary);
      border: 1px solid rgba(255, 255, 255, 0.2);

      a {
        padding: 10px 0;
      }
    }

    svg {
      margin-left: 8px;
      margin-top: 2px;
      transition: $transition;
      opacity: 0.6;

      @include lg {
        display: none;
      }
    }

    @include before-lg {
      &:hover {
        > div {
          display: flex;
        }

        svg {
          opacity: 1;
          transform: rotate(180deg);
        }

        & > a {
          color: var(--clr-white);
        }
      }
    }
  }

  &__right-section {
    @include md {
      padding-bottom: 32px;
    }
  }

  &__link {
    font-family: var(--ff-secondary-regular);
    font-size: 14px;
    line-height: normal;
    transition: $transition;
    color: var(--clr-white60);

    @include lg {
      margin-right: 0;
      padding: 20px 0;
      border-bottom: 1px solid var(--clr-white60);
      width: 100%;
      margin-left: 0;

      &:first-child {
        padding-top: 0;
      }
    }

    @include sm {
      margin-left: 0;
      width: 100%;
    }

    &:hover {
      color: var(--clr-white);
    }
  }

  &__line {
    width: 20px;
    height: 1px;
    background-color: white;
    margin-bottom: 6px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__toggle {
    display: none;

    &:checked + label {
      & > .navigation__line:nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: -1px;
      }
      & > .navigation__line:nth-child(2) {
        display: none;
      }
      & > .navigation__line:nth-child(3) {
        transform: rotate(-45deg);
      }
      & + .navigation__links-wrapper {
        display: flex;
      }
    }
  }

  &__button {
    display: none;
    cursor: pointer;

    @include lg {
      display: block;
    }
  }

  .contact-btn {
    @include lg {
      margin-top: 20px;
    }
  }
}

.is_scrolled .navigation {
  background: var(--clr-background-gradient);

  &__content-wrapper {
    padding: 10px 0;
  }
}
