.services {
  &-section {
    &__header {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include before-xlm {
        margin: 0 auto 40px;
        text-align: center;
        align-items: center;
      }
      @include xlm {
        margin-bottom: 16px;
      }
    }

    &__subtitle {
      @include before-xlm {
        text-align: center;
      }
    }
  }
}

.three-items-slider {
  .case-studies__swiper-wrapper {
    margin-bottom: 0;

    @include before-lg {
      justify-content: center;
    }    
  }
}
