.services,
.case-studies {
  &-section {
    &__header {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include before-xlm {
        margin: 0 auto 40px;
        text-align: center;
        align-items: center;
      }
      @include xlm {
        margin-bottom: 16px;
      }
    }

    &__subtitle {
      @include before-xlm {
        text-align: center;
      }
    }
  }
}

.three-items-slider {
  .case-studies__swiper-wrapper {
    margin-bottom: 0;

    @include before-lg {
      justify-content: center;
    }
  }
}

@include before-lg {
  .four-items-slider {
    .swiper-wrapper {
      width: 100% !important;

      .swiper-slide:nth-child(4) {
        margin-right: 0 !important;
      }
    }
  }
}

.das-header {
  &__cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include sm {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .left-col {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__container {
    align-items: flex-start;
  }
}

.das__small-title {
  font-size: 24px;
  line-height: 36px;
}

.das__medium-title {
  font-size: 36px;
  line-height: 54px;

  margin-bottom: 40px;
  max-width: 550px;
  text-align: left;

  @include sm {
    margin-bottom: 20px;
  }

  @include xlm {
    font-family: var(--ff-secondary-bold);
    line-height: 46px;
    max-width: 375px;
    margin-bottom: 0;
  }
}

.das__big-title {
  font-size: 44px;
  line-height: 59px;

  margin-bottom: 40px;

  @include xlm {
    max-width: 375px;
    margin-bottom: 8px;
  }
}

.offerings-title {
  margin-bottom: 60px;
  @include sm {
    margin-bottom: 40px;
  }
  @include xlm {
    text-align: center;
    margin-bottom: 16px;
  }
}

.mda-services {
  --gap: 40px;
  @include sm {
    --gap: 20px;
  }
  @include xlm {
    --gap: 16px;
  }
  margin-bottom: var(--gap);

  &__title {
    margin-bottom: 0;
  }

  .col-left,
  .col-right {
    display: flex;
    flex-direction: column;
  }

  .col-left {
    gap: 12px;
    @include xlm {
      gap: 8px;
    }
  }

  .col-right {
    gap: var(--gap);
  }
}

.das-white-wrapper {
  padding: 60px;
  border-radius: var(--border-radius-primary);
  border: 1px solid var(--clr-gray2);
  background-color: var(--clr-white);

  @include md {
    padding: 25px;
  }

  @include xlm {
    padding: 16px;
  }

  &.pt-pb-40 {
    padding-top: 40px;
    padding-bottom: 40px;

    @include md {
      padding: 25px;
    }

    @include xlm {
      padding: 16px;
    }
  }
}

.our-service-include {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include before-lg {
    flex-basis: 470px;
  }

  @include before-sm {
    margin: 52.5px 0;
  }

  @include sm {
    margin: 25px 0;
  }

  @include xlm {
    gap: 8px;
    margin: 0;
  }
}

.platforms-section {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include sm {
    gap: 20px;
  }
  @include xlm {
    gap: 16px;
  }

  &__title {
    font-size: 18px;
    line-height: 27px;

    @include xlm {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

.ai-ml-development {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.das-title-pt-xlm {
  @include xlm {
    padding-top: 32px;
  }
}

.next-steps {
  display: grid;
  grid-template-columns: 480px 1fr;
  gap: 100px;

  @include lg {
    gap: 70px;
  }

  @include md {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  @include xlm {
    gap: 16px;
  }

  &__left {
    @extend .flex-col;
    @extend .medium-gap;

    &-header {
      @extend .flex-col;
      gap: 8px;
    }
  }
}
.steps-row {
  --gap: 40px;

  display: flex;
  align-items: center;
  gap: var(--gap);

  @include xlm {
    gap: 38px;
  }

  &__icon {
    flex-shrink: 0;
    align-self: flex-start;
    width: 60px;
    aspect-ratio: 1;
    position: relative;
    z-index: 10;

    @include xlm {
      width: 57px;
    }

    &.rect {
      border-radius: 12px;
      background-color: #323437;
      position: relative;
      z-index: 3;

      &::before {
        content: "";

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(100%);
        z-index: -1;

        width: var(--gap);
        height: 1px;
        background-color: var(--clr-gray3);
      }
    }
  }
}
