@import "./common";

:root {
  --ff-primary-regular: "PTSansRegular", sans-serif;
  --ff-primary-bold: "PTSansBold", sans-serif;
  --ff-secondary-regular: "PoppinsRegular", sans-serif;
  --ff-secondary-semiBold: "PoppinsSemibold", sans-serif;
  --ff-secondary-bold: "PoppinsBold", sans-serif;

  --fz-primary: 16px;
  --line-height: 25px;

  --clr-text-primary: #111112;
  --clr-gray1: #f2f2f5;
  --clr-gray2: #dfdfeb;
  --clr-white: #fff;
  --clr-white05: rgba(255, 255, 255, 0.05);
  --clr-white60: rgba(255, 255, 255, 0.6);
  --clr-blue-primary: #1e63ec;

  --clr-background-primary: #fff;
  --clr-background-secondary: #24272b;

  --section-spacing-small: 80px;
  --section-spacing-big: 160px;

  @include md {
    --section-spacing-small: 24px;
    --section-spacing-big: 56px;
  }

  --primary-gap: 20px;
  @include md {
    --primary-gap: 16px;
  }
}

$textPrimary: #111112;
$white: #fff;
$white60: rgba(255, 255, 255, 0.6);
$gray1: #f2f2f5;
$gray2: #dfdfeb;
$bluePrimary: #1e63ec;
$backgroundDark: #24272b;

@import "./resetBrowserStyles";
@import "./typography";
@import "./components";
@import "./navigation";
@import "./swiper-bundle.css";
@import "./swiperCustom";

@import "./mainPage";
