@import "./swiper-bundle.css";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  overflow-x: hidden;
}

:root {
  --ff-primary-regular: "PTSansRegular", sans-serif;
  --ff-primary-bold: "PTSansBold", sans-serif;
  --ff-secondary-regular: "PoppinsRegular", sans-serif;
  --ff-secondary-semiBold: "PoppinsSemibold", sans-serif;
  --ff-secondary-bold: "PoppinsBold", sans-serif;
  --fz-primary: 16px;
  --line-height: 25px;
  --clr-text-primary: #111112;
  --clr-gray1: #f2f2f5;
  --clr-gray2: #dfdfeb;
  --clr-white: #fff;
  --clr-white05: rgba(255, 255, 255, 0.05);
  --clr-white21: rgba(255, 255, 255, 0.129);
  --clr-white60: rgba(255, 255, 255, 0.6);
  --clr-blue-primary: #1e63ec;
  --clr-background-primary: #fff;
  --clr-background-secondary: #24272b;
  --header-height: 95px;
  --section-spacing-small: 80px;
  --section-spacing-big: 160px;
  --primary-gap: 20px;
}
@media (max-width: 1024px) {
  :root {
    --header-height: 68px;
  }
}
@media (max-width: 1024px) {
  :root {
    --section-spacing-small: 24px;
    --section-spacing-big: 56px;
  }
}
@media (max-width: 1024px) {
  :root {
    --primary-gap: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

* {
  min-width: 0;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-background-primary);
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

button {
  border: none;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PoppinsSemibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
html {
  font-family: var(--ff-primary-regular);
  font-size: var(--fz-primary);
  line-height: var(--line-height);
  color: var(--clr-text-primary);
}

h1,
h2 {
  font-family: var(--ff-secondary-bold);
  font-size: 44px;
  line-height: 59px;
  color: var(--clr-white);
}
@media (max-width: 1024px) {
  h1,
  h2 {
    font-size: 36px;
    line-height: 46px;
  }
}
h1.title-black,
h2.title-black {
  color: var(--clr-text-primary);
}

h3 {
  font-family: var(--ff-secondary-semiBold);
  font-size: 28px;
  line-height: 38px;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

h4 {
  font-family: var(--ff-secondary-semiBold);
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 18px;
    line-height: 27px;
  }
}

h5 {
  font-family: var(--ff-secondary-bold);
  font-size: 16px;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-small {
  padding: var(--section-spacing-small) 0;
}

.section-big {
  padding: var(--section-spacing-big) 0;
}

.bg-dark {
  color: var(--clr-white);
  background: linear-gradient(286deg, rgba(76, 83, 88, 0.45) -32.3%, #111112 26.78%, rgba(17, 17, 18, 0.96) 63.17%, rgba(76, 83, 88, 0.45) 131.64%), #24272b;
}

.bg-gray {
  background-color: var(--clr-gray1);
}

button {
  --btn-ff: var(--ff-primary-bold);
  --btn-fz: var(--fz-primary);
  --btn-clr: var(--clr-text-primary);
  --btn-lh: normal;
  --btn-bg: transparent;
  font-family: var(--btn-ff);
  font-size: var(--btn-fz);
  color: var(--btn-clr);
  line-height: var(--btn-lh);
  background-color: var(--btn-bg);
  min-width: 10ch;
  min-height: 46px;
  padding: 0.8125em 1.5em;
  border-radius: 3.125em;
  cursor: pointer;
}
@media (max-width: 1024px) {
  button {
    --btn-fz: 18px;
  }
}
@media (max-width: 568px) {
  button {
    width: 100%;
  }
}
button.contact-btn {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-blue-primary);
}
button.read-more-light-btn {
  --btn-bg: var(--clr-gray1);
}
button.read-more-dark-btn {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-white05);
}

.feature__container {
  display: flex;
}
@media (min-width: 1024px) {
  .feature__container {
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .feature__container {
    flex-direction: column;
    gap: 24px;
  }
}
@media (min-width: 1024px) {
  .feature__container > div {
    flex: 0 1 calc(50% - 10px);
  }
}
.feature-item {
  background-color: var(--clr-gray1);
  border: 1px solid var(--clr-gray2);
  border-radius: 20px;
  padding: 32px;
}
@media (max-width: 1024px) {
  .feature-item {
    padding: 24px;
  }
}
.feature-item__inner {
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .feature-item__inner {
    flex-direction: column;
    gap: 24px;
  }
}
.feature-icon {
  flex-shrink: 0;
  align-self: flex-start;
  width: 60px;
  aspect-ratio: 1;
  position: relative;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-gray2);
  border-radius: 12px;
}
.feature-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feature__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1280px) {
  .navigation .container {
    position: initial;
  }
}
.navigation__content-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1280px) {
  .navigation__content-wrapper {
    position: initial;
  }
}
@media (max-width: 768px) {
  .navigation__content-wrapper {
    padding: 14px 0;
  }
}
.navigation__links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 1280px) {
  .navigation__links-wrapper {
    width: 100vw;
    height: calc(100vh - 74px);
    display: none;
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    justify-content: space-between;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .navigation__links-wrapper {
    top: 55px;
    padding: 24px 16px;
  }
}
.navigation__left-section {
  display: flex;
  gap: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 40px;
  border-radius: 40px;
}
@media (max-width: 1280px) {
  .navigation__left-section {
    flex-direction: column;
    margin-right: 0;
    width: 100%;
    gap: 0;
    max-width: 800px;
    margin: 0 auto;
  }
}
.navigation__logo {
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .navigation__right-section {
    padding-bottom: 32px;
  }
}
.navigation__link {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 14px;
  line-height: normal;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1280px) {
  .navigation__link {
    margin-right: 0;
    padding: 26px 0;
    border-bottom: 1px solid #111112;
    width: calc(100% - 40px);
    margin-left: 20px;
  }
  .navigation__link:first-child {
    border-top: 1px solid #111112;
  }
}
@media (max-width: 768px) {
  .navigation__link {
    margin-left: 0;
    width: 100%;
  }
}
.navigation__link:hover {
  color: #fff;
}
.navigation__toggle {
  display: none;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -1px;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(2) {
  display: none;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(3) {
  transform: rotate(-45deg);
}
.navigation__toggle:checked + label + .navigation__links-wrapper {
  display: flex;
}
.navigation__button {
  display: none;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .navigation__button {
    display: block;
  }
}

.is_scrolled .navigation {
  background: linear-gradient(286deg, rgba(76, 83, 88, 0.45) -32.3%, #111112 26.78%, rgba(17, 17, 18, 0.96) 63.17%, rgba(76, 83, 88, 0.45) 131.64%), #24272B;
}
.is_scrolled .navigation__content-wrapper {
  padding: 10px 0;
}

.caseStudies__title {
  margin: 0 0 12px;
  text-align: left;
}
@media (max-width: 768px) {
  .caseStudies__title {
    margin: 0 0 24px;
  }
}
.caseStudies__subtitle {
  text-align: left;
  max-width: 470px;
}
.caseStudies__swiper-buttons {
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
}
@media (max-width: 1280px) {
  .caseStudies__swiper-buttons {
    display: none;
  }
}
.caseStudies__swiper-slide {
  border-radius: 12px;
  border: 1px solid black;
  width: 100%;
  transition: background-size 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 100%;
}
@media (max-width: 768px) {
  .caseStudies__swiper-slide {
    background-size: 110%;
    width: calc(100% - 32px) !important;
  }
}
.caseStudies__swiper-slide:hover {
  background-size: 104%;
}
@media (max-width: 768px) {
  .caseStudies__swiper-slide:hover {
    background-size: 110%;
  }
}
.caseStudies__swiper-slide:hover .caseStudies__link-arrow svg circle {
  fill: blue;
}
.caseStudies__swiper-text-wrapper {
  padding: 20px 24px;
  background-color: black;
  border-radius: 0 0 12px 12px;
}
@media (max-width: 768px) {
  .caseStudies__swiper-text-wrapper {
    padding: 12px 16px 16px;
  }
}
.caseStudies__swiper-text-wrapper h3 {
  color: white;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .caseStudies__swiper-text-wrapper h3 {
    margin-bottom: 8px;
  }
}
.caseStudies__slide-text {
  color: white;
}
@media (max-width: 768px) {
  .caseStudies__slide-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.caseStudies__swiper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  overflow: inherit;
}
@media (max-width: 768px) {
  .caseStudies__swiper {
    margin-top: 24px;
  }
}
.caseStudies__swiper-wrapper {
  height: 400px;
}
.caseStudies__link-arrow {
  position: absolute;
  top: 24px;
  right: 24px;
}
@media (max-width: 768px) {
  .caseStudies__link-arrow {
    top: 16px;
    right: 16px;
  }
}
.caseStudies__link-arrow svg circle {
  transition: all 0.2s ease-in-out;
}

.header {
  width: 100%;
  height: 100dvh;
  background: linear-gradient(286deg, rgba(76, 83, 88, 0.45) -32.3%, #111112 26.78%, rgba(17, 17, 18, 0.96) 63.17%, rgba(76, 83, 88, 0.45) 131.64%), #24272b;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.header__subtitle {
  color: var(--clr-white60);
  max-width: 742px;
  text-align: center;
  margin-top: 16px;
}
.header__items-wrapper {
  display: flex;
  padding: 20px;
  margin-top: 40px;
}
.header__item {
  color: var(--clr-white);
  text-align: center;
}
.header__item:first-child {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.header__item-title {
  font-family: var(--ff-secondary-bold);
  font-size: 60px;
  line-height: 60px;
}
.header__item-title:after {
  content: url(../img/plus_white_icon.svg);
  top: -10px;
  left: 4px;
}

.info-block__main-inner {
  display: flex;
  justify-content: center;
  gap: calc(var(--primary-gap) * 3);
}
@media (max-width: 1024px) {
  .info-block__main-inner {
    flex-direction: column;
    gap: var(--primary-gap);
  }
}
.info-block__main-image {
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .info-block__main-image img {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .info-block__main-image img {
    max-height: 387px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.info-block__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--primary-gap);
  max-width: 544px;
}
@media (max-width: 1024px) {
  .info-block__main-content {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .info-block__main--reversed {
    flex-direction: column-reverse;
  }
}
.info-block__main-title.mobile-title {
  margin-bottom: var(--primary-gap);
}
@media (min-width: 1024px) {
  .info-block__main-title.mobile-title {
    display: none;
  }
}
@media (max-width: 1024px) {
  .info-block__main-title.desktop-title {
    display: none;
  }
}
.info-block__main-btn {
  align-self: flex-start;
}
@media (min-width: 568px) {
  .info-block__main-btn {
    margin-top: var(--primary-gap);
  }
}

.services h2 {
  color: var(--clr-text-primary);
  text-align: center;
  margin-bottom: var(--title-gap);
}
.services__swiper-slide {
  color: var(--clr-text-primary);
  border-radius: 20px;
  border: 1px solid var(--clr-gray2);
  padding: 32px;
  background: var(--clr-gray1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.services__swiper-slide:after {
  content: url(../img/arror_link_icon.svg);
  position: absolute;
  right: 32px;
  top: 32px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.services__swiper-slide:hover {
  border: 1px solid var(--clr-blue-primary);
}
.services__swiper-slide:hover:after {
  opacity: 1;
}
@media (min-width: 1280px) {
  .services__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.stack__main {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
}
@media (max-width: 568px) {
  .stack__main {
    padding: 24px 0;
  }
}
.stack__main-inner {
  display: flex;
  gap: calc(var(--primary-gap) * 4);
  animation: horizontal-loop 15s linear infinite alternate;
}
.stack__main-inner img {
  min-width: auto;
}
@media (max-width: 568px) {
  .stack__main-inner {
    gap: calc(var(--primary-gap) * 2);
    animation: horizontal-loop-mobile 15s linear infinite alternate;
  }
}

.fade {
  --fade-clr: var(--clr-background-secondary);
  position: absolute;
  background: linear-gradient(90deg, var(--fade-clr), transparent 30%, transparent 70%, var(--fade-clr));
  inset: 0;
  pointer-events: none;
}

@keyframes horizontal-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}
@keyframes horizontal-loop-mobile {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.industries__container {
  display: grid;
  gap: 40px 173px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
}
@media (max-width: 1280px) {
  .industries__container {
    gap: 40px 80px;
  }
}
@media (max-width: 1024px) {
  .industries__container {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: var(--primary-gap);
  }
}
.industries__content {
  --local-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--local-gap);
}
@media (max-width: 768px) {
  .industries__content {
    gap: calc(var(--local-gap) / 2);
  }
}
.industries__item {
  flex: 0 1 calc(50% - var(--local-gap) / 2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 768px) {
  .industries__item {
    flex: 0 1 calc(50% - var(--local-gap) / 4);
  }
}
@media (max-width: 568px) {
  .industries__item {
    flex: 1 1 auto;
  }
}
.industries-image {
  grid-column: 2/-1;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
  margin-top: var(--primary-gap);
}
@media (max-width: 1024px) {
  .industries-image {
    margin-top: auto;
    grid-column: auto;
    grid-row: 2/3;
  }
}

.history__main__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "image title title" "image content content";
  gap: 0 60px;
}
@media (max-width: 1280px) {
  .history__main__container {
    gap: var(--primary-gap);
    grid-template-areas: "title" "image" "content";
  }
}
.history__main__title {
  grid-area: title;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .history__main__title {
    margin-bottom: 0;
  }
}
.history__main-image {
  grid-area: image;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1280px) {
  .history__main-image img {
    width: 100%;
  }
}
.history__main-image .image-label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-radius: 16px;
  background-color: var(--clr-background-primary);
}
.history__main-image .image-label__inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
}
@media (max-width: 768px) {
  .history__main-image .image-label__inner {
    padding: 16px;
    gap: 4px;
  }
}
.history__main-content {
  grid-area: content;
  display: flex;
}
@media (max-width: 768px) {
  .history__main-content {
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 568px) {
  .history__main-content {
    gap: 8px;
  }
}
.history__main-content .col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 1280px) {
  .history__main-content .col {
    flex: 0 1 50%;
  }
}
@media (max-width: 768px) {
  .history__main-content .col {
    gap: 16px;
  }
}
@media (max-width: 568px) {
  .history__main-content .col {
    gap: 8px;
  }
}
.history__main-content .col p {
  width: 340px;
}
@media (max-width: 1280px) {
  .history__main-content .col p {
    width: 100%;
  }
}
.history__main-content .col:not(:last-child) {
  --local-gap: 40px;
  padding-right: var(--local-gap);
  margin-right: var(--local-gap);
  border-right: 1px solid var(--clr-gray2);
}
@media (max-width: 1280px) {
  .history__main-content .col:not(:last-child) {
    --local-gap: 20px;
  }
}
@media (max-width: 768px) {
  .history__main-content .col:not(:last-child) {
    --local-gap: 0;
    border-right: none;
  }
}

.contact-us {
  --offset: 22px;
}
.contact-us__container {
  padding-top: var(--offset);
  padding-bottom: var(--offset);
  position: relative;
}
@media (max-width: 1280px) {
  .contact-us__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.contact-us__header {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .contact-us__header {
    padding-bottom: 16px;
  }
}
.contact-us__content {
  font-style: normal;
}
.contact-us__title {
  margin-bottom: 10px;
}
.contact-us__image {
  overflow: hidden;
  border-radius: 20px;
  max-width: 610px;
  position: absolute;
  z-index: 5;
  right: 0;
  top: calc(var(--offset) * -1);
}
@media (max-width: 1280px) {
  .contact-us__image {
    position: static;
    max-width: 100%;
    padding-top: 16px;
  }
}
.contact-us__content-item {
  display: flex;
  gap: 12px;
  padding: var(--primary-gap) 0;
  border-bottom: 1px solid var(--clr-white21);
  position: relative;
}
.contact-us__content-item:first-child {
  border-top: 1px solid var(--clr-white21);
}
.contact-us__content-item:first-child::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-white21);
  transform: translateX(100%);
}
.contact-us__content-item::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-white21);
  transform: translateX(100%);
}
@media (max-width: 1024px) {
  .contact-us__content-item:first-child::before, .contact-us__content-item::before, .contact-us__content-item::after {
    content: none;
  }
}
.contact-us__content-item span {
  font-family: var(--ff-primary-bold);
}
.contact-us__content-item > div p,
.contact-us__content-item a {
  color: var(--clr-white60);
}

.footer {
  padding: calc(var(--section-spacing-small) / 2) 0;
}
@media (max-width: 1024px) {
  .footer {
    padding: var(--section-spacing-small) 0;
  }
}

.bg-footer {
  background-color: #24272b;
}

.footer-logo {
  width: 172px;
}

.footer-nav__top {
  display: flex;
  gap: 80px;
  padding-bottom: calc(var(--section-spacing-small) / 2);
  border-bottom: 1px solid var(--clr-white21);
}
@media (max-width: 1280px) {
  .footer-nav__top {
    padding-bottom: var(--section-spacing-small);
    flex-direction: column;
    gap: 20px;
  }
  .footer-nav__top .about-us__col {
    order: 1;
  }
  .footer-nav__top .how-we-work__col {
    order: 2;
  }
  .footer-nav__top .services__col {
    order: 3;
  }
  .footer-nav__top .services__col .col-title {
    margin-bottom: 8px;
  }
  .footer-nav__top .reviews__col {
    order: 4;
  }
  .footer-nav__top .reviews__col .col-title {
    margin-top: 12px;
    margin-bottom: 0;
  }
}
@media (max-width: 568px) {
  .footer-nav__top {
    gap: 0;
  }
}
@media (min-width: 1280px) {
  .footer-nav__top .col:nth-child(1) {
    max-width: 248px;
  }
  .footer-nav__top .col:nth-child(2) {
    max-width: 494px;
  }
  .footer-nav__top .col:last-child {
    margin-left: 17px;
  }
}
@media (max-width: 1280px) {
  .footer-nav__top .col {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .footer-nav__top .col.about-us__col ul {
    display: none;
  }
}
.footer-nav__bottom {
  padding-top: 50px;
  display: flex;
}
@media (min-width: 768px) {
  .footer-nav__bottom {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .footer-nav__bottom {
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.footer-nav__bottom .col {
  display: flex;
  justify-content: space-between;
}
.footer-nav__bottom .col ul {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .footer-nav__bottom .col {
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .footer-nav__bottom .col:nth-child(1) {
    max-width: 421px;
    width: 100%;
  }
  .footer-nav__bottom .col:nth-child(2) {
    max-width: 494px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer-nav__bottom .col:nth-child(2) .social-media__wrapper {
    transform: translateY(-10px);
  }
}
.footer-nav__bottom .col:nth-child(2) .reviews-widget {
  align-self: center;
}
@media (max-width: 1024px) {
  .footer-nav__bottom .col.column-first {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .footer-nav__bottom .col.column-second {
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
  }
}
@media (max-width: 1024px) {
  .footer-nav .info {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .footer-nav .info li {
    margin-bottom: 0 !important;
  }
}
.footer-nav .col-title {
  color: var(--clr-white);
  margin-bottom: 12px;
}
.footer-nav ul {
  display: flex;
  gap: 40px;
}
@media (max-width: 568px) {
  .footer-nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
.footer-nav ul li {
  color: var(--clr-white60);
}
.footer-nav ul li:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 568px) {
  .footer-nav ul li:not(:last-child) {
    margin-bottom: 4px;
  }
}
.footer-nav .copy {
  font-size: 14px;
  color: #7b7e84;
  margin-top: 13px;
}
@media (max-width: 1024px) {
  .footer-nav .copy {
    margin-top: 24px;
    text-align: center;
  }
}

.footer__social-media {
  display: flex;
  gap: 10px;
}
.footer__social-media .icon {
  --size: 48px;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--clr-white21);
  position: relative;
}
.footer__social-media .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-about {
  width: 100%;
  height: 90svh;
  background: linear-gradient(0deg, #141517, #141517), radial-gradient(60.41% 213.39% at 101.22% -5.87%, rgba(76, 83, 88, 0.7) 0%, #191b1d 100%);
}
@media (max-width: 768px) {
  .header-about {
    height: 100%;
  }
}
.header-about__container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 40px;
  color: var(--clr-white);
}
@media (max-width: 768px) {
  .header-about__container {
    padding-bottom: 24px;
  }
}
.header-about__top {
  margin-top: calc(var(--header-height) + 40px);
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .header-about__top {
    margin-top: calc(var(--header-height) + 24px);
    margin-bottom: 24px;
  }
}
.header-about h1 {
  font-size: 96px;
  line-height: 144px;
}
@media (max-width: 768px) {
  .header-about h1 {
    font-size: 44px;
    line-height: 59px;
  }
}
.header-about__subtitle {
  color: var(--clr-white60);
  font-family: var(--ff-primary-bold);
}
.header-about__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .header-about__content {
    gap: 12px;
  }
}
.header-about__content .cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 768px) {
  .header-about__content .cols {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
.header-about__btn {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .header-about__btn {
    display: none;
  }
}

.our-mission__top,
.proffessional-team__top,
.domains-section__top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 690px;
  margin-bottom: 40px;
}
.our-mission__subtitle,
.proffessional-team__subtitle,
.domains-section__subtitle {
  font-family: var(--ff-secondary-bold);
  line-height: 20.7px;
}

.domains-section {
  padding-top: 0;
}

.quick-facts__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  color: var(--clr-text-primary);
}
@media (min-width: 1024px) {
  .quick-facts__container {
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .quick-facts__container {
    gap: 40px;
  }
}
@media (max-width: 568px) {
  .quick-facts__container {
    gap: 16px;
  }
}
.quick-facts__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 690px;
}
@media (min-width: 1024px) {
  .quick-facts__header {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .quick-facts__header {
    gap: 8px;
  }
}
.quick-facts__footer {
  display: grid;
  grid-template-columns: repeat(4, 295px);
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1280px) {
  .quick-facts__footer {
    grid-template-columns: repeat(2, 295px);
  }
}
@media (max-width: 568px) {
  .quick-facts__footer {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.quick-facts__footer-item {
  display: flex;
  gap: 20px;
}
.quick-facts__statistics {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.quick-facts__statistics .number {
  font-family: var(--ff-secondary-bold);
  font-size: 44px;
  line-height: 59px;
  color: var(--clr-text-primary);
}
.quick-facts__statistics .number span {
  font-family: var(--ff-secondary-regular);
}

.our-certifications {
  color: var(--clr-white);
  background-color: var(--clr-text-primary);
}
.our-certifications__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}
@media (max-width: 1024px) {
  .our-certifications__container {
    gap: 16px;
  }
}
.our-certifications__top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.our-certifications__subtitle {
  font-family: var(--ff-secondary-bold);
  color: var(--clr-white60);
}
.our-certifications__text {
  max-width: 690px;
}/*# sourceMappingURL=styles.css.map */