@import "./swiper-bundle.css";
:root {
  --ff-primary-regular: "PTSansRegular", sans-serif;
  --ff-primary-bold: "PTSansBold", sans-serif;
  --ff-secondary-regular: "PoppinsRegular", sans-serif;
  --ff-secondary-semiBold: "PoppinsSemibold", sans-serif;
  --ff-secondary-bold: "PoppinsBold", sans-serif;
  --fz-primary: 16px;
  --line-height: 25px;
  --clr-text-primary: #111112;
  --clr-gray1: #f2f2f5;
  --clr-gray2: #dfdfeb;
  --clr-white: #fff;
  --clr-white05: rgba(255, 255, 255, 0.05);
  --clr-white60: rgba(255, 255, 255, 0.6);
  --clr-blue-primary: #1e63ec;
  --clr-background-primary: #fff;
  --clr-background-secondary: #24272b;
  --section-spacing-small: 80px;
  --section-spacing-big: 160px;
  --text-gap: 20px;
  --title-gap: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

* {
  min-width: 0;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-background-primary);
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

button {
  border: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PoppinsSemibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
html {
  font-family: var(--ff-primary-regular);
  font-size: var(--fz-primary);
  line-height: var(--line-height);
  color: var(--clr-text-primary);
}

h1,
h2 {
  font-family: var(--ff-secondary-bold);
  font-size: 44px;
  line-height: 59px;
  color: var(--clr-white);
}

h3 {
  font-family: var(--ff-secondary-semiBold);
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-family: var(--ff-secondary-semiBold);
  font-size: 18px;
  line-height: normal;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

section {
  padding: var(--section-spacing) 0;
}

button {
  --btn-ff: var(--ff-primary-bold);
  --btn-fz: var(--fz-primary);
  --btn-clr: var(--clr-text-primary);
  --btn-lh: normal;
  --btn-bg: transparent;
  font-family: var(--btn-ff);
  font-size: var(--btn-fz);
  color: var(--btn-clr);
  line-height: var(--btn-lh);
  background-color: var(--btn-bg);
  min-width: 10ch;
  min-height: 46px;
  padding: 0.8125em 1.5em;
  border-radius: 3.125em;
  cursor: pointer;
}
button.contact-btn {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-blue-primary);
}
button.read-more-light-btn {
  --btn-bg: var(--clr-gray1);
}
button.read-more-dark-btn {
  --btn-clr: var(--clr-white);
  --btn-bg: var(--clr-white05);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1280px) {
  .navigation .container {
    position: initial;
  }
}
.navigation__content-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1280px) {
  .navigation__content-wrapper {
    position: initial;
  }
}
@media (max-width: 768px) {
  .navigation__content-wrapper {
    padding: 14px 0;
  }
}
.navigation__links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 1280px) {
  .navigation__links-wrapper {
    width: 100vw;
    height: calc(100vh - 74px);
    display: none;
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    justify-content: space-between;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .navigation__links-wrapper {
    top: 55px;
    padding: 24px 16px;
  }
}
.navigation__left-section {
  display: flex;
  gap: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 40px;
  border-radius: 40px;
}
@media (max-width: 1280px) {
  .navigation__left-section {
    flex-direction: column;
    margin-right: 0;
    width: 100%;
    gap: 0;
    max-width: 800px;
    margin: 0 auto;
  }
}
.navigation__logo {
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .navigation__right-section {
    padding-bottom: 32px;
  }
}
.navigation__link {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 14px;
  line-height: normal;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1280px) {
  .navigation__link {
    margin-right: 0;
    padding: 26px 0;
    border-bottom: 1px solid #111112;
    width: calc(100% - 40px);
    margin-left: 20px;
  }
  .navigation__link:first-child {
    border-top: 1px solid #111112;
  }
}
@media (max-width: 768px) {
  .navigation__link {
    margin-left: 0;
    width: 100%;
  }
}
.navigation__link:hover {
  color: #fff;
}
.navigation__toggle {
  display: none;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -1px;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(2) {
  display: none;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(3) {
  transform: rotate(-45deg);
}
.navigation__toggle:checked + label + .navigation__links-wrapper {
  display: flex;
}
.navigation__button {
  display: none;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .navigation__button {
    display: block;
  }
}

.is_scrolled .navigation {
  background: linear-gradient(286deg, rgba(76, 83, 88, 0.45) -32.3%, #111112 26.78%, rgba(17, 17, 18, 0.96) 63.17%, rgba(76, 83, 88, 0.45) 131.64%), #24272B;
}
.is_scrolled .navigation__content-wrapper {
  padding: 10px 0;
}

.caseStudies__title {
  margin: 0 0 12px;
  text-align: left;
}
@media (max-width: 768px) {
  .caseStudies__title {
    margin: 0 0 24px;
  }
}
.caseStudies__subtitle {
  text-align: left;
  max-width: 470px;
}
.caseStudies__swiper-buttons {
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
}
@media (max-width: 1280px) {
  .caseStudies__swiper-buttons {
    display: none;
  }
}
.caseStudies__swiper-slide {
  border-radius: 12px;
  border: 1px solid black;
  width: 100%;
  transition: background-size 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 100%;
}
@media (max-width: 768px) {
  .caseStudies__swiper-slide {
    background-size: 110%;
    width: calc(100% - 32px) !important;
  }
}
.caseStudies__swiper-slide:hover {
  background-size: 104%;
}
@media (max-width: 768px) {
  .caseStudies__swiper-slide:hover {
    background-size: 110%;
  }
}
.caseStudies__swiper-slide:hover .caseStudies__link-arrow svg circle {
  fill: blue;
}
.caseStudies__swiper-text-wrapper {
  padding: 20px 24px;
  background-color: black;
  border-radius: 0 0 12px 12px;
}
@media (max-width: 768px) {
  .caseStudies__swiper-text-wrapper {
    padding: 12px 16px 16px;
  }
}
.caseStudies__swiper-text-wrapper h3 {
  color: white;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .caseStudies__swiper-text-wrapper h3 {
    margin-bottom: 8px;
  }
}
.caseStudies__slide-text {
  color: white;
}
@media (max-width: 768px) {
  .caseStudies__slide-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.caseStudies__swiper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  overflow: inherit;
}
@media (max-width: 768px) {
  .caseStudies__swiper {
    margin-top: 24px;
  }
}
.caseStudies__swiper-wrapper {
  height: 400px;
}
.caseStudies__link-arrow {
  position: absolute;
  top: 24px;
  right: 24px;
}
@media (max-width: 768px) {
  .caseStudies__link-arrow {
    top: 16px;
    right: 16px;
  }
}
.caseStudies__link-arrow svg circle {
  transition: all 0.2s ease-in-out;
}

.header {
  width: 100%;
  height: 100dvh;
  background: linear-gradient(286deg, rgba(76, 83, 88, 0.45) -32.3%, #111112 26.78%, rgba(17, 17, 18, 0.96) 63.17%, rgba(76, 83, 88, 0.45) 131.64%), #24272b;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.header__subtitle {
  color: var(--clr-white60);
  max-width: 742px;
  text-align: center;
  margin-top: 16px;
}
.header__items-wrapper {
  display: flex;
  padding: 20px;
  margin-top: 40px;
}
.header__item {
  color: var(--clr-white);
  text-align: center;
}
.header__item:first-child {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.header__item-title {
  font-family: var(--ff-secondary-bold);
  font-size: 60px;
  line-height: 60px;
}
.header__item-title:after {
  content: url(../img/plus_white_icon.svg);
  top: -10px;
  left: 4px;
}

.test {
  height: 50dvh;
}

.services h2 {
  color: var(--clr-text-primary);
  text-align: center;
  margin-bottom: var(--title-gap);
}
.services__swiper-slide {
  color: var(--clr-text-primary);
  border-radius: 20px;
  border: 1px solid var(--clr-gray2);
  padding: 32px;
  background: var(--clr-gray1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.services__swiper-slide:after {
  content: url(../img/arror_link_icon.svg);
  position: absolute;
  right: 32px;
  top: 32px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.services__swiper-slide:hover {
  border: 1px solid var(--clr-blue-primary);
}
.services__swiper-slide:hover:after {
  opacity: 1;
}
@media (min-width: 1280px) {
  .services__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=styles.css.map */
